@font-face {
    font-family: 'Spartan';
    src: url('../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Bebas_Neue';
    src: url('../fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

:root{
    --background-color: rgb(231, 240, 248);
    --font-color: #1a1a1a;
    --seperator-color: rgba(0, 0, 0, 0.06);
    --theme-shadow-color: inset 0px 0px 10px 10px rgba(198, 222, 11, 0.15),0px 0px 20px 20px rgba(198, 222, 11, 0.25);
    --box-shadow-color-normal: rgba(0,0,0,0.1);
    --box-shadow-color-hover: rgba(0,0,0,0.3);
}

.dark-theme{

    --background-color: #010101;
    --font-color: rgb(231, 240, 248);
    --seperator-color: rgba(188, 188, 188, 0.09);
    --theme-shadow-color: inset 10px 20px 0px 0px rgba(231, 240, 248, 0.09),0px 0px 20px 20px rgba(231, 240, 248, 0.20);
    --box-shadow-color-normal: rgba(255, 255, 255, 0.1);
    --box-shadow-color-hover: rgba(255, 255, 255, 0.18);

}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'spartan';
    color: var(--font-color);
    overflow-x: visible;
    
}

h2{
    margin-top:2rem;
    font-size: 3rem;
    text-align: center;
}

.cart-container table {
    border: 1px solid var(--box-shadow-color-hover);
    margin-top: 3rem;
    width: 99%; 
    table-layout: fixed; 
}

.cart-container table, .cart-container th, .cart-container td {
    border-bottom: 1px solid var(--box-shadow-color-hover);
    border-collapse: collapse;
    margin-left: 0.5rem;
    color: var(--font-color);
}

.cart-container th {
    padding-right: 1rem; 
    text-align: left;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.2rem;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.cart-container table td {
    padding: 0.1rem 0.5rem;
}
.cart-container table td #check-box{
    
    justify-content: center;
    margin-left: 3rem;
    background-color: #010101 !important;
}

.cart-container table td img{
    position: relative;
    width: 100%;
    max-width: 10rem;
    max-height: 12rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    left: -2.5rem;
    justify-content: left;
}

.type,.title, .cart-container .price{
    font-size: 1.2rem;
    font-weight: 500;
}

.cart-container .price{
    color: #0d9cb6;
}

.quantity{
    background-color: white;
    position: relative;
    border-radius: 20px;
    width: 100px;
    padding: 0;
    
}
.quantity-input {
    position: relative;
    background: transparent;
    top:0.1rem;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
    max-width: 40px;
    margin: 0;
    border: none;
    outline: none;
    height: 30px;
    bottom: 5px;
}

.quantity button{
    font-size: 1rem;
    cursor: pointer;
    color: white;
    outline: none;
    border: none;
    background-color: #010101;
    width: 1.8rem;
    height: 2rem;
}
.minus-button{
border-top-left-radius: 20px;
border-bottom-left-radius: 20px;
}

.plus-button{
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
}
.sum-total{
    margin-top: 2rem;
}

hr{
    position: relative;
    text-align: right;
    width: 34%;
    margin-left: auto;
    margin-right: 1rem;
    top: 1rem;
}
.sum-total .total-text{
    text-align: right;
    
    margin-right: 25rem;
    font-size: 1.3rem;
}
.sum-total .total-amount{
    text-align: right;
    margin-top: -1rem;
    margin-right: 8rem;
    font-size: 1.3rem;
}

#buy-now{
    position: relative;
    display: block;
    margin-right: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    font-family: 'poppins';
    font-weight: 500;
    cursor: pointer;
    color: white;
    border: none;
    outline: none;   
    width: 120px;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    background-color: rgba(36, 199, 253, 0.8);
}
.sum-total #buy-now:hover{
    background-color: #146371;
}