@font-face {
    font-family: 'Spartan';
    src: url('../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}
body{
    font-family: 'Spartan';
    background-color: #14131e;
    color: rgb(0, 0, 0);
    display: flex;
    font-style: inherit;
}

.profile img{
    position: relative;
    top: 50px;
    left: 50px;
    width: 100%;
    max-width: 160px;
    height: auto;
    aspect-ratio: 1 /1;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 0px;
}

.profile .name{
    position: relative;
    left: 250px;
    top: -150px;
    font-size: 70px;
    background-color: rgb(178, 179, 193);

}

.box {
    display: grid;
    padding: 20px;
    width: 500px;
    height: 100px;
    top: -600px;
    left: 250px;
    background-color: #b8b1b1;
}


