@font-face {
   font-family: 'poppins';
   src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
 body{
    display:flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

 }
 .container{
   outline: none;
   font-family: 'poppins',sans-serif;
    width: 30px;
    background: #fff;
    border-radius:  5px;
    text-align: center;
    padding: 50px 35px 10px;
 }